@import "./../../../assets/styles/main";

.badge {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    gap: 30px;
    width: 180px;
    height: 75px;
    background-color: $accent-green;
    border: 1px solid $primary-black;
    box-shadow: 6px 6px 0px $primary-black;
    border-radius: 12px;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-size: $font-size-base;
}

.content p:first-child {
    margin: 0;
    font-weight: 600;
    font-size: $font-size-xl;
}

.content p:last-child {
    margin: 2px 0 0 0;
    font-size: $font-size-base;
    font-weight: 400;
}