@import "./../../../assets/styles/variables";
@import "./../../../assets/styles/mixins";

.title {
    margin-top: 0px;
}

.rowContainer {
}

.panelTitle {
    margin-bottom: 0px;
}

.panelContainer {
    display: flex;
    flex-direction: row;
    gap: 75px;
    height: 100%;
    // display: flex;
    // flex-direction: column;
    // flex: 1;
    // padding: 50px;
    // overflow: auto;
    // background: #ffffff;
    // border: 2px solid #000000;
    // box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 8px 8px 0px #000000;
    // border-radius: 12px;
}

.transactionsPanel{
    display: flex;
    flex-direction: column;
    flex: 0.7;
}

.tokensPanel{
    display: flex;
    flex-direction: column;
    flex: 0.3;
}

// .badgeContainer > :first-child {
//     background-color: red;
// }

// .badgeContainer > :nth-child(2) {
//     background-color: green;
// }

// .badgeContainer > :nth-child(3) {
//     background-color: blue;
// }

.badgeContainer {
    display: flex;
    gap: 50px;
    margin-top: -20px;
}

.childTitle {
    margin-bottom: 0px;
}

.childContainer {
    display: flex;
    gap: 50px;
}
