@import "./../../../assets/styles/main";


/* Badge Container */
.badgeContainer {
    display: flex;
    gap: 50px;
    margin-top: -20px;
}

/* Child */
.childTitle {
    display: flex;
    margin-top: 25px;
    margin-bottom: 25px;
    align-items: center;
}

.title {
    margin: 0;
}

.iconPlus {
    background-color: $accent-green;
    border-radius: 20px;
    border: 2px solid $primary-black;
    box-shadow: 2px 2px 0px $primary-black;
    margin-left: 7px;
}

.childContainer {
    display: flex;
    gap: 35px;
}

/* Panels */
.panelContainer {
    display: flex;
    flex-direction: row;
    gap: 75px;
}

/* Transactions Panel */
.transactionsPanel {
    display: flex;
    flex-direction: column;
    flex: 0.7;
}

/* Tokens Panel */
.tokensPanel {
    display: flex;
    flex-direction: column;
    flex: 0.3;
}

