@import "./../../../assets/styles/main";

.tokens {
    @include panel;
    padding: 20px;
    flex: 1;
}

.flexContainer {
    display: flex;
    background: #ffffff;
    border-bottom: 1px solid $seperator-lightgrey;
    padding: 10px;
}

.avatar {
    display: flex;
    align-items: center;
    margin-right: 20px;
}

.tokenInfo,
.tokenAmounts {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
}

.name {
    font-size: $font-size-base;
    font-weight: 500;
    margin-bottom: 0;
}

.address {
    margin-top: 0px;
    font-size: $font-size-small;
    color: $text-secondary-grey;
}

.totalSupply{
    font-size: $font-size-base;
}

.totalSupply span{
    font-weight: 300;
}

.balance{
    font-size: $font-size-base;
}

.balance span{
    font-weight: 300;
}

.balance,
.totalSupply {
    margin: 4px 0 0 0;
}
