@import "./../../../assets/styles/main";

.transactionsTable{
    @include panel;
    flex: 1;
}

.amountClaimed{
    font-size: 16px;
    color: $text-red;
    font-weight: 600;
}

.flexContainer {
    display: flex;
    flex-direction: column;
}

.flexContainer p {
    color: $text-secondary-grey;
    font-size: $font-size-small;
    margin: 2px;
}
