@import "./../../../assets/styles/main";

.connectWalletContainer p{
    margin: 7px;
}

.connectWalletContainer{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    background-color: white;
    margin-bottom: 15px;
    width: auto;
    margin-left: -50px;
    margin-right: -50px;
    border-bottom: 1px solid black;
    font-size: 14px;
}

.connectContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #00FFC3;
    padding: 0 40px 0 40px;
    border: 1px solid black;
    border-bottom: none;
    border-left: none;
    cursor: pointer;
    font-weight: 500;
}

.connectionDetailsContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.userAddress{
    color: $text-secondary-grey;
    font-size: $font-size-base;
    font-weight: 300;
}

.chain{
    border: 1px solid black;
    border-bottom: none;
    padding: 0 20px 0 20px;
}

