.main {
    display: flex;
    max-height: 100vh;
    background-color: #F2F5F1;
}

.content {
    display: flex;
    flex-direction: column;
    flex: 1;
    margin: 0px 50px 50px 50px;
    gap: 25px;
}

