@import "./../assets/styles/mixins";
@import "./../assets/styles/variables";

.main {
    background-color: #F2F5F1;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }
  
  .title {
    position: absolute;
    top: 25%;
    left: 50%; 
    transform: translateX(-50%); 
    font-size: 2rem;
    margin-bottom: 2rem;
  }
  
  .userContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 75px;
  }