.createTokenPanel {
    padding: 25px;
    background-color: lightblue;
    height: 50vh;
    display: flex;

}

.createContainer{
    display: flex;
    flex-direction: row;
    flex: 1;
}

.formContainer {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.action {
    margin-top: 25px;
}
