@import "./../../../assets/styles/main.scss";

.createTokenForm {
    @include panel;
    display: flex;
    flex-direction: column;
    flex: 1; // doet niks
    padding: 50px;
}

.form{
    display: flex;
    flex-direction: column;
}

.buttonContainer{
    margin-top: 10px;
}
