@import "./../../assets/styles/main.scss";

.avatarContainer {
  aspect-ratio: 1 / 1;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  background-color: $primary-white;
  border-radius: 100px;
  border: 2px solid $primary-black;
}

