@import "./../../assets/styles/main.scss";

.panel {
    overflow: auto;
    background: #ffffff;
    border: 1px solid #000000;
    box-shadow: 7px 7px 0px #000000;
    border-radius: 12px;
    flex: 1;
}
