@import "./../../assets/styles/variables";

.container{
    display: flex;
    background-color: #00FFC3;
    flex-direction: column;
    height: 100%;
    width: 13%;
    border-right: 3px solid black;
}

.avatarContainer{
    display: flex;
    justify-content: center;
    margin: 60px;
}

.ul{
    display: flex;
    flex-direction: column;
    list-style: none;
    padding: 0;
    justify-content: center;
}

.li{
    display: flex;
    justify-content: center;
}

.link{
    cursor: pointer;
    //background-color: rgb(255, 167, 255);
    background-color: #6637ED;
    color: white;
    font-weight: 600;
    width: 150px;
    text-align: center;
    padding: 10px;
    margin: 10px;
    border: 2px solid #000000;
    box-shadow: 2px 2px 0px #000000;
    border-radius: 4px;
}