@import "./../../assets/styles/main.scss";

.container {
    display: flex;
    background-color: $primary-cyan;
    flex-direction: column;
    height: 100vh;
    width: 225px;
    border-right: 3px solid $primary-black;
}

.avatarContainer {
    display: flex;
    justify-content: center;
    margin: 70px 20px 50px 20px;
}

.navigation {
    height: 100%;
}

.ul {
    margin: 0;
    display: flex;
    height: 100%;
    flex-direction: column;
    list-style: none;
    align-items: fles-start;
    padding: 0;
}

.li {
    display: flex;
    justify-content: center;
}

.link,
.logoutLink {
    cursor: pointer;
    background-color: $accent-purple;
    color: $primary-white;
    font-size: $font-size-base;
    font-weight: 500;
    width: 135px;
    text-align: center;
    padding: 8px;
    margin: 10px;
    border: 2px solid $primary-black;
    box-shadow: 2px 2px 0px $primary-black;
    border-radius: 4px;
}

.logoutLink{
    background-color: #313131;;
}

// places last link at the bottom
.li:last-child {
    margin-bottom: 50px;
    margin-top: auto;
}

.reactLink{
    display: flex;
    align-items: center;
    justify-content: center;
}

.linkIcon{
    margin-right: 5px;
}