@import "./../../assets/styles/main.scss";

.container {
    display: flex;
    background-color: $primary-cyan;
    flex-direction: column;
    height: 100vh;
    width: 225px;
    border-right: 3px solid $primary-black;
}

.avatarContainer {
    display: flex;
    justify-content: center;
    margin: 70px 20px 50px 20px;
}

.ul {
    display: flex;
    flex-direction: column;
    list-style: none;
    padding: 0;
    justify-content: center;
}

.li {
    display: flex;
    justify-content: center;
}

.li:last-child {
    align-self: stretch;
}

.link {
    cursor: pointer;
    background-color: $accent-purple;
    color: $primary-white;
    font-size: $font-size-base;
    font-weight: 500;
    width: 135px;
    text-align: center;
    padding: 8px;
    margin: 10px;
    border: 2px solid $primary-black;
    box-shadow: 2px 2px 0px $primary-black;
    border-radius: 4px;
}
