@import "./../../../assets/styles/main.scss";

.title{
    font-weight: 400;
    margin-bottom: 0px;
    text-align: center;
    color: $text-secondary-grey;
}

.claimButton{
    display: flex;
    justify-content: center;
    margin-top: 35px;
}