// .claimCountdown {
//     display: flex;
//     flex-direction: column;
//     justify-content: center;
//     flex: 1; // doet niks
//     overflow: auto;
//     background: #ffffff;
//     border: 2px solid #000000;
//     box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 8px 8px 0px #000000;
//     border-radius: 12px;
//     padding: 25px;
//     text-align: center;
// }

// .title{
//     font-weight: 400;
//     margin-bottom: 0px;
//     color: rgb(75, 75, 75);
// }

// .claimButton{
//     display: flex;
//     justify-content: center;
//     margin-top: 35px;

// }


.title{
    font-weight: 400;
    margin-bottom: 0px;
    color: rgb(75, 75, 75);
}

.claimButton{
    display: flex;
    justify-content: center;
    margin-top: 35px;

}