@import "./../../../assets/styles/main.scss";

.detailsContainer{
    padding: 25px;
    flex: 1; //grows the content horizontally
}

.details{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    justify-content: center;
    align-content: center;
    background-color: $background-lightgrey;
    padding: 15px;
    border-radius: 10px;
}

.details p{
    margin-bottom: 3px;
}

.intro{
    font-size: $font-size-small;
    color: $text-secondary-grey;
    margin: 0;

}

.name{
    font-size: $font-size-large;
    font-weight: 500;
    margin-top: 0px;
}

.info{
    color: $text-secondary-grey;
    font-weight: 400;
    font-size: $font-size-base;
}

.result{
    text-align: right;
    font-weight: 500;
    font-size: $font-size-base;
}
