.progressBar{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 350px;
    height: 34px;
    border: 3px solid black;
}

.inner{
    display: flex;
    background-color: #CEFFB7;
    height: 78%;
    margin: 3px;
    color: black;
}