@import "./../../../assets/styles/main";

.tokenOverview {
    display: flex;
    flex: 1;
    gap: 25px;
    padding: 20px;
    justify-content: space-between;
}

/* tokenList Container */
.tokenListContainer {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    flex: 1;
}

/* Individual Token Container */
.tokenContainer {
    display: flex;
    background-color: aliceblue;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 10px;
}

/* Token Information */
.tokenInfo {
    display: flex;
    align-items: center;
}

/* Icon */
.tokenIcon {
    margin-right: 10px;
}

/* Token Name and Address */
.name,
.address{
    margin: 0;
}

.name{
    font-size: $font-size-base;
    font-weight: 600;
    margin-right: 30px;
}

.address{
    font-size: $font-size-small;
    color: $text-secondary-grey;
}

/* Token Amount Owned */
.tokenAmount {
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
}

.amount{
    margin: 0;
    font-size: $font-size-base;
    font-weight: 600;
}

/* PieChart Container */
.pieChartContainer {
    display: flex;
    flex: 0.5;
    justify-content: center;
    background-color: $background-lightgrey;
    border-radius: 15px;
}
