@import "./../../assets/styles/main";

.container {
    max-width: 400px;
    min-height: 200px;
    width: 400px;
    height: 200px;
    display: flex;
    flex-direction: column;
    border: 2px solid $primary-black;
    box-shadow: 4px 4px 0 $primary-black;
    box-sizing: border-box;
    cursor: pointer;
}

.Child {
    background-color: $primary-cyan;
}

.Parent{
    background-color: $accent-purple;
    color: white;
}

.content {
    display: flex;
    justify-content: center;
    flex: 1;
    font-size: $font-size-large;
    align-items: center;
}

.action {
    display: flex;
    justify-content: center;
    padding: 25px;
}
