@import "./../../assets/styles/variables";
@import "./../../assets/styles/mixins";

.container {
  max-width: 400px;
  min-height: 500px;
  width: 400px;
  height: 500px;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
}

.title {
  background-color: $purple-primary;
  border-bottom: 5px solid black;
  text-align: center;
  padding: 25px;
  height: 30%;
}

.content {
  flex-grow: 1;
}

.action {
  display: flex;
  justify-content: center;
  padding: 25px;
}
