.claimPeriod {
    background-color: rgb(247, 247, 247);
    border-radius: 10px;
    padding: 15px;
    margin: 25px;
}

.claimPeriod.active {
    border: 3px solid #00ffc3;
}

.type {
    text-transform: uppercase;
}

.claimPeriod p {
    margin: 0;
}

.period {
    font-size: 25px;
    font-weight: 600;
    margin-bottom: 25px;
}

.flexContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.claimAble {
    font-size: 13px;
    color: grey;
}

.amountFlex {
    display: flex;
    align-items: center;
}

.amountFlex p:first-child {
    font-size: 25px;
    font-weight: 600;
}

.amountFlex p:nth-child(2) {
    margin-left: 5px;
    font-size: 19px;
    color: grey;
}

.claimPeriodButton {
    height: 30px;
    width: 70px;
    border: none;
    background-color: black;
    border-radius: 6px;
    color: white;
    font-weight: 600;
    cursor: pointer;
}

.selected {
    font-weight: 600;
    text-transform: uppercase;
    color: grey;
}
