.tokenPreference {
    display: flex;
    flex-direction: column;
    flex: 1; // doet niks
    overflow: auto;
    background: #ffffff;
    border: 2px solid #000000;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 8px 8px 0px #000000;
    border-radius: 12px;
    padding: 25px;
}

.currentToken {
    padding: 20px;
    width: 40%;
    background-color: rgb(247, 247, 247);
    border-radius: 12px;
}

.tokenInfo {
    display: flex;
    align-items: center;
}

.tokenAvatar {
    margin-right: 20px;
}

.tokenDetails p {
    margin: 0;
}

.tokenDetails p:first-child {
    font-size: 20px;
    font-weight: 600;
}

.tokenDetails p:last-child {
    font-size: 13px;
    font-weight: 400;
    color: rgb(124, 124, 124);
}

.amountOwned {
    display: flex;
    align-items: flex-end;
    margin-top: 30px;
}
.amountOwned p {
    margin-bottom: 0;
}

.amount {
    font-size: 22px;
    font-weight: 600;
    margin-right: 2px;
}

.tokenSymbol {
    font-size: 14px;
}

// token options
.pickTokenTitle{
    margin-top: 40px;
}
.tokenOptions {
    background-color: rgb(247, 247, 247);
    padding: 16px;
    border-radius: 12px;
    width: 220px;
}

.tokenOptionInfo {
    display: flex;
    align-items: center;
}

.tokenOptionAvatar {
    margin-right: 10px;
}

.tokenOptionDetails p {
    margin: 0;
}

.tokenOptionName {
    font-size: 14px;
    font-weight: 600;
}

.tokenOptionAddress {
    font-size: 11px;
    font-weight: 400;
    color: rgb(124, 124, 124);
}

.flexContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 25px;
}

.tokenOptionAmountOwned {
    display: flex;
    align-items: flex-end;
}

.tokenOptionAmount {
    font-size: 15px;
    font-weight: 600;
}

.tokenOptionSymbol {
    font-size: 12px;
}

.tokenOptionAmountOwned p {
    margin: 0;
}

.tokenOptionSymbol {
}

.pickButton {
    height: 25px;
    width: 60px;
    border: none;
    background-color: black;
    border-radius: 6px;
    color: white;
    font-weight: 600;
    cursor: pointer;
}
