@import "./../../../assets/styles/main.scss";

/* Single Token Option */
.tokenOption {
    background-color: $background-lightgrey;
    padding: 16px;
    border-radius: 12px;
    width: 220px;
}

/* Token Option Information*/
.tokenOptionInfo {
    display: flex;
    align-items: center;
}

.tokenOptionAvatar {
    margin-right: 10px;
}

.tokenOptionDetails p {
    margin: 0;
}

.tokenOptionName {
    font-size: $font-size-base;
    font-weight: 500;
}

.tokenOptionAddress {
    font-size: $font-size-small;
    font-weight: 400;
    color: $text-secondary-grey;
}

/* Token Option Amounts */
.flexContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 25px;
    flex: wrap;
}

.tokenOptionAmountOwned {
    display: flex;
    align-items: flex-end;
    flex: wrap;
}

.tokenOptionAmount {
    font-size: $font-size-base;
    font-weight: 500;
}

.tokenOptionSymbol {
    font-size: $font-size-small;
}

.tokenOptionAmountOwned p {
    margin: 0 2px 0 0;
}

.pickButton {
    height: 25px;
    width: 60px;
    border: none;
    background-color: $primary-black;
    border-radius: 6px;
    color: $primary-white;
    font-weight: 600;
    cursor: pointer;
}
