.container {
  width: 80%;
  max-width: 400px;
  min-height: 500px;
  height: 500px;
  background-color: blue;
  margin: 50px;
  border: 3px solid black;
}

.title {
  background-color: white;
  border-bottom: 3px solid black;
  text-align: center;
  padding: 25px;
}
