@import "./../../assets/styles/variables";
@import "./../../assets/styles/mixins";

.container{
    display: flex;
    background-color: #00FFC3;
    flex-direction: column;
    height: 100vh;
    width: 15%;
    border-right: 4px solid black;
}

.avatarContainer{
    display: flex;
    justify-content: center;
    margin: 25px;
}

.ul{
    display: flex;
    flex-direction: column;
    list-style: none;
    padding: 0;
    background-color: red;
}