@import "./../../../assets/styles/variables";
@import "./../../../assets/styles/mixins";

.flexContainer {
    display: flex;
    gap: 100px;
    margin-bottom: 50px;
}

.addChildContainer {
    display: flex;
    flex-direction: column;
    flex: 0.4;
}

.infoContainer {
    display: flex;
    height: 500px;
    flex-direction: column;
    flex: 0.6;
}

.childOverviewContainer {
    display: flex;
    flex-direction: column;
    flex: 1;
}
