@import "./../../../assets/styles/variables";
@import "./../../../assets/styles/mixins";

.title{
    padding: 25px;
    margin-top: 0;
    margin-bottom: 0;
    color: $primary-orange;
}

.addChildPanel {
    background-color: blue;
    height: 50vh;
}
