@import "./../../../assets/styles/main.scss";

.addChildPanel {
    display: flex;
    gap: 50px;
    margin-bottom: 50px;
    flex: 0.6;
}

.addChildContainer {
    display: flex;
    flex-direction: column;
    flex: 0.3;
}

.overviewContainer {
    display: flex;
    flex-direction: column;
    flex: 0.7;
}

