@import "./../../../assets/styles/main.scss";

.addChildForm {
    @include panel;
    display: flex;
    flex-direction: column;
    padding: 50px;
}

.form{
    display: flex;
    flex-direction: column;
}

.buttonContainer{
    margin-top: 10px;
}
