@import "./../../../assets/styles/main";

/* Name Address */
.nameAddressColumn {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.name {
    font-size: $font-size-base;
    font-weight: 600;
}

.address {
    margin: 2px 0 0 0;
    font-size: $font-size-small;
    color: $text-secondary-grey;
}

/* Base Amount */
.baseAmountColumn {
    display: flex;
    gap: 4px;
}

.baseAmount,
.tokenSymbol {
    font-size: $font-size-base;
}

.tokenSymbol {
    font-weight: 600;
}

/* Claim Period */
.claimPeriod {
    font-size: $font-size-base;
}

/* Next Claim */
.nextClaimColumn {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.claimDate {
    font-size: $font-size-base;
}

.claimTime {
    margin: 2px 0 0 0;
    font-size: $font-size-small;
    color: $text-secondary-grey;
}

/* Token */
.tokenColumn {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.tokenName{
    font-size: $font-size-base;
}

.tokenAddress{
    margin: 2px 0 0 0;
    font-size: $font-size-small;
    color: $text-secondary-grey;
}
