$primary-cyan: #00ffc3;
$accent-purple: #6637ed;
$accent-green: #daf465;
$background-light: #f2f5f1;
$black: #000000;

// button colors
$button-cyan: #7be5ce;

// text colors
$text-primary: #000000;
$text-light: #707070;
$text-red: #ee6a61;
$text-green: #00d48e;
