$primary-cyan: #00ffc3;
$accent-purple: #6637ed;
$accent-green: #daf465;
$background-light: #f2f5f1;
$background-lightgrey: #f7f7f7;
$background-white: #ffffff;
$primary-black: #000000;
$primary-white: #ffffff;

// button colors
$button-cyan: #7be5ce;

// text colors
$text-primary-black: #000000;
$text-secondary-grey: #707070;
$text-red: #ee6a61;
$text-green: #00d48e;

// table seperator
$seperator-lightgrey: #dee2e6
