// content-panel styling
@mixin panel {
    background: #ffffff;
    border: 1px solid #000000;
    box-shadow: 6px 6px 0px #000000;
    border-radius: 12px;
    overflow: auto; // fixes issue where corner of the border is hidden
}
