// Define typography
$font-family: 'Roboto', sans-serif;

$font-size-xl: 25px;
$font-size-large: 17px;
$font-size-base: 14px;
$font-size-small: 13px;
$font-size-xs: 8px;

$line-height-base: 1.5;

$font-weight-normal: 400;
$font-weight-bold: 700;