// Define typography
$font-family: 'Roboto', sans-serif;

// Font sizes
$font-size-xl: 25px;
$font-size-large: 19px;
$font-size-base: 14px;
$font-size-small: 12px;
$font-size-xs: 8px;

// Line heights
$line-height-base: 1.5;

// Font weights
$font-weight-normal: 400;
$font-weight-bold: 700;